@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #3e4142;
  font-family: "Poppins", sans-serif;
}

canvas {
  background-color: #46494b;
  border-color: #424547;
}
